@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');


//colors 

// $BlueGreen: #ff9a76;
// $DarkBlueGreen: #ff9a76;

// $Orange: #74c7b8;

$Orange: #ff9a76;
$Peach: #ffeadb;
$DarkBlueGreen: #679b9b;
$DarkGray: #637373;
$VeryLightBlue: #ECF4F3;

//font 
$font : 'Ubuntu', sans-serif;
$font-light: 300;
$font-reg: 400;
$font-med: 500;