@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');


//colors 

$BlueGreen: #68B0AB;
$DarkBlueGreen: #006A71;
$VeryLightBlue: #ECF4F3;
$Orange: #EE6F57;


//font 
$font : 'Ubuntu', sans-serif;
$font-light: 300;
$font-reg: 400;
$font-med: 500;