@import '../../styles/abstracts';




.date {

    display: flex;
    flex-direction: column;
    justify-content: center;
    

    @include breakpoint-up('medium'){
        flex-direction: row;
        justify-content: center;
    }

    @include breakpoint-up('large'){
        flex-direction: row;
        justify-content: flex-start;
    }

    &__picker {

        margin: 0 auto;
        display: flex;
        justify-content: center;
        background-color: $Orange;
        max-width: 20rem;
        margin-bottom: 0.5rem;
        border: 1px solid $DarkBlueGreen;

        @include breakpoint-up('large'){
            margin: 0 1rem;
           
            
        }

        span {
            height: 4rem;
            width: 4rem;
            background-image: url('../../assets/images/arrow.png');
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: 50% 50%;
            cursor: pointer;
        
        }


        span:last-of-type {
            transform: rotate(180deg);
        }
   
    }

}


.react-datepicker {


    &__input-container {

        background-color: $Orange;

        input {
            margin: 1rem;
            text-align: center;
            background-color: $Orange;
            font-family: $font;
            font-size: 1.25rem;
            color:white;
            border: none;
            cursor: pointer;
        }
        
    }

}



.planner {
    margin-top: 2.75rem;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    // box-shadow: 30px -20px 40px #00000042;

    @include breakpoint-up('large'){
        flex-direction: row;
    }


}


.form {
    display: none;
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 50%;
    height: 75%;
    width: 100%;
    transform: translateX(-50%);
    color: white;
    background-color: $DarkBlueGreen;
    border: 5px solid $DarkBlueGreen;
    box-shadow: 0px 0px 15px 1px #808080c7;
    border-radius: 20px;
    padding-top: 2rem;


    @include breakpoint-up('large'){
        width: auto;
        height: auto;
    }
  

    h2 {
        text-align: center;
        padding-bottom: 1rem ;
    }


    &__inputs {

        display: flex;
        flex-direction: column;
        color: black;
     

        & > * {
            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            margin-bottom: 1.5rem;
            border-radius: 5px;
            border: none;
        }

    }


    .react-datepicker-wrapper {
    

        .react-datepicker__input-container {
            background-color: white;
            border-radius: 5px;
    
            input {
                background-color: white;
                color: black;
                padding: none;
                padding: 0.5rem 1rem;
                margin: 0;
                text-align: left;
                width: 100%;
            }
        }
      
    }
   
    


    &__input {

        font-family: $font;
    }


    &__select {

        font-family: $font;
    }

    &__buttons {
        padding-top: 3rem;
        display: flex;
        justify-content: center;
       

        :first-child {
            margin-right: 2rem ;
        }
    }


    &__button {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 3px solid $Orange;
        background-color: $DarkBlueGreen;
        color: white;
        font-size: 2rem;
    }
}