@import './styles/abstracts';

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    line-height: 1.5;
    min-height: 100vh;
    color: $VeryLightBlue;
    background-color: $Orange;
    // background-image: linear-gradient($Orange, $Peach);
 
}

.container {
    margin: 0 auto;
    max-width: 70rem;
    padding: 1rem;

}


h1, h2, h3 {
    font-weight: $font-reg;
    margin: 0;
}

